// Colors
$primary-color: #eb5e4d;
$primary-hover: #e79990;
$background-color: #f8f8f8;
$text-color: #4e4e4e;
$header-bg: #161616;
$border-color: #ddd;

// Typography
$font-family-base: 'Roboto', sans-serif;

// Spacing
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

// Breakpoints
$breakpoint-xs: 480px;  // Móviles pequeños
$breakpoint-sm: 768px;  // Móviles grandes/tablets
$breakpoint-md: 992px;  // Tablets/pantallas pequeñas
$breakpoint-lg: 1200px; // Pantallas medianas