@import '../../../styles/shared/variables';

.view-details-button {
    position: relative;
    align-self: center;
    width: 200px;
    height: 34.5px;
    padding: 0.5rem;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    overflow: hidden;

    &:hover {
        background-color: #e0e0e0;
        color: $header-bg;
    }

    &:focus {
        outline: none !important;
    }

    span {
        position: absolute;
        left: 50%;
        top: 50%;
        width: inherit;
        color: inherit;
        transform: translate(-50%, -50%);
    }

    @media (max-width: $breakpoint-sm) {
        width: 180px;
        height: 32px;
        padding: 0.4rem;
    }

    @media (max-width: $breakpoint-xs) {
        width: 160px;
        height: 30px;
    }
}